<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <!--vùng chứa header cua trang: logo,ten city-->
    <header>
        <h1>nó là zậy đó </h1>
    </header>
    <!--vùng chứa điều hướng (menu) của page-->
    <nav style="text-align: center; color: darkcyan;">
        home &#160;|&#160;about singer &#160;| &#160; profile &#160;| &#160;contact Us
    </nav>
    <!--vùng chuứa nội dung trang -->
    <main><h1>somebody you loved </h1>
        <p>I’m going under and I fear this time there’s no one to save me.<br> This all or nothing really got a way of driving me crazy. <br>I need somebody to heal,<br> somebody to know,<br> somebody to have, <br>somebody to hold.<br> It’s easy to say but it’s never the same.<br> I guess I kinda liked the way you numbed all the pain. <br>Now the day bleeds into night fall<br> and you not here to get me through it all,<br> I let my guard down and you pulled the rug, <br>I was getting kinda used to being someone you loved.</p>

        <p>I met you in the dark, you lit me up,you made me feel as though I was enough. <br>We danced the night away, we drank to much. <br>I held your hair back when you were throwing up.</p>
            
        <p>So let me apologize, and make up, make up, make up, make up, for all those times. <br>Cause you I don’t wanna loose I’m beggin, beggin,  beggin, beggin, beggin, you.</p>
            
        <p>No, never mind I’ll find someone like you.<br> I wish nothing but the best for you, too.<br> Don’t forget me I beg, I’ll remember you said, <br>sometimes it lasts in love and sometimes it hurts instead.</p>
            
        <p>Im off the deep end, watch as I dive in, I’ll never reach the ground.<br> Crash through the surface, were they can’t hurt us, we’re far from the sallow now. <br>Shallow now.</p>
        <p>By Conor Maynard</p>
            
            
        <h2>heading 2</h2>  
        <h3>heading 3</h3>
        <h4>heading 4</h4>
        <h5>heading 5</h5>
        <h6>heading 6</h6>
    </main>
        

    <!--vùng chứa chân trang-->
<footer>
 <p>&copy; design by I_ce</p>
</footer>
</body>
</html>