header h2,header p{
    width: 100%;
    padding: 5px;
    text-align:left ;
}*{
    margin: 0;
    padding: 0;
    
}
.row{
    padding: 10px 0;
     overflow: hidden;
     width: 100%;
     font-weight: bold;
     font-size: 1.5em;
}
#container{
background-color: rgb(226, 228, 227);
   width: 98%;
   height: 600px;
   border-radius: 10px;
   margin-left: 1.0%;
}
#container h2,#container p{
    text-align: center;
    font-size: 1.3em;
}
#home #left{
    width: 50%;
    float: left;
}
#left img{
    width: 85%;
    height: 300px;
    margin:20px 35px;
}
#home #right{
    float: left;;
    width: 50%;
    left: 0;
}
.row .col-25{
    float: left;
    width: 30%;
    }
.row .col-75{
    float:left;
    width:100%; 

}
input[type=hoten], [type=dienthoai], [type=coment], [type=country] {
    width: 90%;
    padding: 10px 0 ;
}
select{
    padding: 10px 0;
    width: 90%;
}
textarea{
    width: 90%;
    font-size: 0.8em;
}
.center .row input{
    background-color: darkgreen;
    border-radius: 5px;
    height: 40px;
    width:10%;
}
@media screen and (max-width:800px){
    #left, #right{
       width: 100%;
       height: auto;}
    }