
body{
    background-color: #fafafa;
}

#content {
    width: 100%;
}

.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    background-color: #a79b94;
    color: #fff;
    /* Hieu ung di chuyen */
    transition: all 0.3s;
}


/* Chọn ra tất cả thành phần thẻ a 
nằm trong li, li lại phải nằm trong ul,
mà ul lại nằm trong #sidebar
*/
#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #a79b94;
    background-color: #fff;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.1s;
}
/* ================== */
header{
    background-color: #a79b94;
    margin-left: 0px !important;
}

header .nav-link{
    color: #fff;
    font-size: 1.25rem;
    line-height: 64px;
}
.toggler-btn{
    line-height: 64px;
}


/* nội dung của bảng */
.mainer{
    padding-left: 15px;
    width: 100%;
}
.cot{
    background-color: #689eb8;
    color: white;
    border-left: white solid 2.5px;
    text-align: center;
}


/* bang duw lieu */

#HD_submit{
    background-color: #1635e4;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.1em;
    border: 1px solid #1635e4;
    margin-left: 45%;
    cursor: pointer;
}
#button-HD{
    margin-left: 10px;
    background-color: #1635e4;
    padding: 5px 15px;
    border-radius: 5px;
    color: white;
    border: 1px solid #1635e4;
    cursor: pointer;
}

#edit{
    background-color: #212121d3;
    position:fixed;
    display:none;
    top: 0;
    height: 100%;
    width: 80%;
    padding: 70px;  
}
.lock{
    color: rgba(255, 0, 0, 0.781);
    display: none;
    font-size: 1.2em;
}
.lock-box{
    display: flex;
}
#addHD{
    background-color: #212121d3;
    position:fixed;
    display:none;
    top: 0;
    height: 100%;
    width: 80%;
    padding:0 70px;  
}
#nhaplieu{ 
    background-color: rgb(107, 107, 107);}
.close{
    width: 45%;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 26;
    margin-right: 10px;
    cursor: pointer;
    text-align: right;
}

#addHD form{
    margin: 0 70px;
}
label{
    color: white;
    font-size: 17px;
    font-weight: bold;
}
.btnkhungad{
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 2px;
}



/* setup màn hình các kiểu */


@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0px;
    }
}
